<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <security>
            <requestFiltering>
                <fileExtensions allowUnlisted="true">
                    <add fileExtension=".db" allowed="false" />
                </fileExtensions>
                <hiddenSegments>
                    <add segment="config.json" />
                    <add segment="config.php" />
                </hiddenSegments>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
